<section class="experience">
  <div class="experience-container">
    <h2>Experience</h2>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Aug 2024 - Present</div>
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Texas A&M University</h3>
          <h4>Undergraduate Teaching Assistant</h4>
          <p class="description">
            Teaching Assistant for ENGR 216/PHYS 216 (Experimental Physics and Engineering Lab II - Mechanics),
            assisting students in applying principles of mechanics to solve engineering and physics problems,
            conducting labs on sensing, control, and actuation, and ensuring experimental verification of key physics concepts.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">Mechanics</div>
            <div class="skill-widget">Energy/Momentum</div>
            <div class="skill-widget">Rotational Motion</div>
            <div class="skill-widget">Oscillation/Waves</div>
            <div class="skill-widget">Experimental Design</div>
            <div class="skill-widget">Data Collection/Analysis</div>
            <div class="skill-widget">Error/Uncertainty Propagation</div>
            <div class="skill-widget">Lab Instruments</div>
            <div class="skill-widget">MATLAB</div>
            <div class="skill-widget">Python</div>
            <div class="skill-widget">Excel</div>
            <div class="skill-widget">MobaXterm</div>
            <div class="skill-widget">Jetson (Linux System)</div>
          </div>
        </div>
      </div>
    </div>


    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Aug 2024 - Present</div>
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>Aggie Coding Club</h3>
          <h4>DEATZ Project - Front-End Design Lead</h4>
          <p class="description">
            Led the front-end design for DEATZ, a web application providing students with access to food deals, promotions, and community insights.
            Built responsive and scalable user interfaces using Node.js, Next.js, React, and Yarn to ensure smooth performance and ease of use.
            Created interactive prototypes in Figma and worked with the team to improve features based on user feedback, enhancing usability and engagement.
            Initial launch is planned for February 2025.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">Node.js</div>
            <div class="skill-widget">Next.js</div>
            <div class="skill-widget">React</div>
            <div class="skill-widget">Yarn</div>
            <div class="skill-widget">JavaScript</div>
            <div class="skill-widget">Figma</div>
            <div class="skill-widget">Responsive Web Design</div>
            <div class="skill-widget">GitHub</div>
            <div class="skill-widget">Web Application Development</div>
            <div class="skill-widget">UI/UX Design</div>
          </div>
        </div>
      </div>
    </div>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Sept 2024 - Present</div>
        <div class="timeline"></div>
      </div>
      <div class="experience-item">
        <div class="experience-item-content">
          <h3>HowdyHack</h3>
          <h4>Front-End Design Lead</h4>
          <p class="description">
            Participated in TAMU Hack’s HowdyHack 2024, collaborating with a team to develop Maroon Match,
            an innovative matchmaking app emphasizing personality compatibility and meaningful connections over physical appearances.
            Designed and implemented the front-end using Swift UI and developed a back-end API for an AI-powered chatbot to facilitate
            engaging conversations. Currently refining features based on hackathon feedback to enhance user experience,
            with a BETA launch planned for Spring 2025.
          </p>
          <div class="skill-widgets">
            <div class="skill-widget">Swift</div>
            <div class="skill-widget">C++</div>
            <div class="skill-widget">Python</div>
            <div class="skill-widget">UI/UX Design</div>
            <div class="skill-widget">API Development</div>
            <div class="skill-widget">Mobile Application Development</div>
            <div class="skill-widget">AI/ML Integration</div>
            <div class="skill-widget">Natural Language Processing</div>
            <div class="skill-widget">Server Side Logic</div>
            <div class="skill-widget">Iterative Development</div>
            <div class="skill-widget">Chatbot Development/Integration</div>
          </div>
        </div>
      </div>
    </div>

    <div class="experience-item-wrapper">
      <div class="date-container">
        <div class="date">Jun 2022 - May 2023</div>
          <div class="timeline"></div>
    </div>
    <div class="experience-item">
      <div class="experience-item-content">
        <h3>Independent Study & Mentorship Program (RHS)</h3>
        <h4>Research Project</h4>
        <p class="description">
          Explored the application of artificial intelligence in aeronautics, with a focus on sustainability through the
          Independent Study & Mentorship program. Conducted in-depth research on aerospace and aeronautics,
          examining current and potential uses of AI/ML technologies in the industry.
          Secured a mentor with expertise in AI/ML to develop a predictive model for a hybrid aircraft powered by
          hydrogen fuel cells and authored a comprehensive final paper. Delivered a 30-minute presentation highlighting findings on
          AI-driven advancements in aeronautics, emphasizing green aviation and sustainable practices.
        </p>
        <div class="skill-widgets">
          <div class="skill-widget">Predictive Modeling</div>
          <div class="skill-widget">AI/ML Applications</div>
          <div class="skill-widget">Data Collection/Analysis</div>
          <div class="skill-widget">Source Analysis</div>
          <div class="skill-widget">Algorithm Development</div>
          <div class="skill-widget">Aerospace/Aeronautics</div>
          <div class="skill-widget">Sustainability in Engineering</div>
          <div class="skill-widget">Hybrid Aircraft Design</div>
          <div class="skill-widget">Networking</div>
          <div class="skill-widget">Presentation Skills</div>
          <div class="skill-widget">Technical Documentation</div>
        </div>
      </div>
    </div>
  </div>

  <div class="experience-item-wrapper">
    <div class="date-container">
      <div class="date">July 2020 - Jan 2023</div>
      <div class="timeline"></div>
    </div>
    <div class="experience-item">
      <div class="experience-item-content">
        <h3>Radicubs Robotics Team</h3>
        <h4>Business Captain | Field Team Lead | Mechanical & Programming Team Member | Drive Team Member</h4>
        <p class="description">
          Served as a key member of the mechanical/hardware team, the programming team, and the business captain. As Business Captain, successfully raised $25K to $34K+ per season, managed team outreach events, and mentored multiple FRC and FLL teams. Contributed to the design, engineering, and CAD development of the robot, assisting in the creation of functional and efficient mechanisms. Programmed the robot, focusing on optimizing autonomous routines and troubleshooting during matches. Constructed wooden models of FRC game challenges each season and managed on-field operations as Field Time Lead. As part of the drive team, ensured the robot's seamless performance during competitions.
        </p>
        <div class="skill-widgets">
          <div class="skill-widget">CAD</div>
          <div class="skill-widget">SolidWorks</div>
          <div class="skill-widget">Autodesk Inventor</div>
          <div class="skill-widget">OnShape</div>
          <div class="skill-widget">Robotics</div>
          <div class="skill-widget">Mechanical Engineering</div>
          <div class="skill-widget">Python</div>
          <div class="skill-widget">Java</div>
          <div class="skill-widget">Autonomous Programming</div>
          <div class="skill-widget">Sensor Integration</div>
          <div class="skill-widget">Robot Control Systems</div>
          <div class="skill-widget">Software Debugging</div>
          <div class="skill-widget">Resource Allocation</div>
          <div class="skill-widget">Leadership/Mentorship</div>
        </div>
      </div>
    </div>
  </div>

  </div>
</section>
