<div class="contact">
    <h2 class="title">Contact Me</h2>
    <div class="contact-items">
        <div class="contact-item">
            <a href="https://www.linkedin.com/in/joanne-ramesh/" target="_blank">
                <i class="fab fa-linkedin"></i>
                <span>linkedin.com/in/joanne-ramesh</span>
            </a>
        </div>
        <div class="contact-item">
            <a href="https://github.com/Lanisha20" target="_blank">
                <i class="fab fa-github"></i>
                <span>github.com/Lanisha20</span>
            </a>
        </div>
        <div class="contact-item">
          <a href="mailto:lanisha.ramesh@gmail.com">
              <i class="fas fa-envelope"></i>
              <span>lanisha.ramesh&#64;gmail.com</span>
          </a>
      </div>
        <div class="contact-item">
            <a href="https://www.instagram.com/joanna.ramesh/" target="_blank">
                <i class="fab fa-instagram"></i>
                <span>&#64;joanna.ramesh</span>
            </a>
        </div>
    </div>
</div>

